/* 
  PET'S CARE LANDING PAGE CSS file
  PATH: styles/main.css
  COLLABORATORS:
    JIMMY HERNANDEZ RIVERA
    ENYEL FELIZ MERCADO
*/

/* Reset */
body, h1, h2, h3, p, label {
  margin: 0;
  padding: 0;
}

/* Typography */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
.header {
  text-align: center;
  padding: 40px 0;
}

.title {
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #a13591;
  font-size: 50px;
}

/* Sections */
.section-title {
  font-size: 40px;
  color: #a13591;
  margin-bottom: 10px;
  text-align: center;
}

.section-subtitle {
  color: #a13591;
  margin-bottom: 10px;
  text-align: center;
}

.section-description {
  font-size: 1.1rem;
  text-align: center;
}

/* Icon */
.icon {
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background: #ECF1FD;
  box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
  border-radius: 5px;

}

/*CARDS*/
.card {
  width: 400px;
  height: 300px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #6A2C70;
  color: #fff;
  display: flex;
  align-items: center;
  border: 30px solid #6A2C70;
  border-radius: 30px;
  justify-content: center;
  font-size: 30px;
  transform: rotateY(0deg);
}

.card-back {
  background-color: #F08A5D;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #F08A5D;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}

 /*CARD ALIGN TO CENTER*/
#boxes {
  display: flex;
  justify-content: space-evenly; /* Distribute space between columns */
  align-items: center; /* Vertically align content */
  text-align: center;
}

#column1, #column2, #column3 {
  flex: 10 10 33%; /* Set fixed width for columns */
}

/*BACKGROUND ANIMATION*/

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

/*SUBSCRIBE FORM*/

.form {
  justify-content:center;
  display: flex;
 }

.form__email {
  padding: 20px 25px;
	border-radius: 5px;
 	border: 1px solid #CAD3DB;
	width: 431px;
	font-size: 18px;
	color: #0F121F;
}

.form__email:focus {
	outline: 1px solid #3D9FFF;
  
}

.form__button {
  background: #3D9FFF;
	padding: 10px;
	border: none;
	width: 244px;
	height: 65px;
	border-radius: 5px;
	font-size: 18px;
	color: white;
	box-shadow: 0 4px 20px rgba(61, 159, 255, 0.7);
}

.form__button:hover {
	box-shadow: 0 10px 20px rgba(145, 90, 207, 0.7);
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 50px 0;
  bottom: 0;
  border: 0;
  position: absolute;
  height: 120px;
  width: 100%;
  bottom: auto;
  max-height: 3%;
}

.footer a {
  color: #4caf50;
  text-decoration: none;
  border-bottom: 1px solid #4caf50;
  padding-bottom: 0;
  transition: border-bottom 0.3s ease;
}

.footer a:hover {
  border-bottom: 2px solid #4caf50;
}
